<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962955142888-406e2hva67dl31e1eqhe63fkbmc40q88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962955142888-406e2hva67dl31e1eqhe63fkbmc40q88</string>
	<key>API_KEY</key>
	<string>AIzaSyDS0-rfPrGd4d8K0_Q4pw_ZOTaovsiXCIw</string>
	<key>GCM_SENDER_ID</key>
	<string>962955142888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csr.csr-chat</string>
	<key>PROJECT_ID</key>
	<string>csr-database-76e01</string>
	<key>STORAGE_BUCKET</key>
	<string>csr-database-76e01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:962955142888:ios:d7cdd2f9dbb75517</string>
	<key>DATABASE_URL</key>
	<string>https://csr-database-76e01.firebaseio.com</string>
</dict>
</plist>
